img {
  width: 120px;
}

.logo {
  margin-bottom: 6em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  opacity: 0.85;
}

.intro {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 18px;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-size: 14px;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.button {
  margin: 2em auto 1em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px !important;
}

.intro-links {
  display: block;
  margin-bottom: 6em;
}

.intro-links a {
  color: #aaa;
  opacity: 0.8;
  border-bottom: 1px solid;
  padding: 2px;
}

.intro-links a:hover {
  color: #aaa;
  opacity: 1;
  border-bottom: 1px solid #ffc;
  background-color: #ffc;
}

@media (min-width: 460px) {
  .intro {
    font-size: 24px;
  }
}