img {
  width: 120px;
}

.logo {
  margin-bottom: 6em;
  font-family: 'Open Sans';
  opacity: 0.6;
}

.intro {
  font-family: 'Open Sans';
  color: #777;
  font-size: 24px;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  font-size: 14px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

.button {
  margin-top: 2em;
  margin-bottom: 6em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Open Sans';
  font-size: 15px !important;
}